PORT=5001
MONGODB_URI=mongodb://localhost:27017/jannat-collection
PAYSTACK_PUBLIC_KEY=your_public_key
PAYSTACK_SECRET_KEY=your_secret_key
PAYSTACK_CURRENCY=NGN
JWT_SECRET=jannat-secret-key
CLIENT_URL=http://localhost:5173
PAYSTACK_CALLBACK_URL=http://localhost:5173
ADMIN_URL=http://localhost:5174
CLOUDINARY_CLOUD_NAME=xksy8k86
CLOUDINARY_API_KEY=477641993647555
CLOUDINARY_API_SECRET=RGxozn3LJ_VCSkpwZPi_6roPgiY
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=jannartcollections@gmail.com
SMTP_PASSWORD=vqqbiirnsqeztgrn
SMTP_FROM="Jannat Collection <jannartcollections@gmail.com>"
SMTP_ADMIN_EMAIL=jannatcollections@gmail.com